
body{
    box-sizing: border-box;
}
form{
    padding: 10px;
}
#body{
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 50px;
    column-gap: 20px;
}
#beef, #pork, #chicken, #mutton{
    
}
#beef{
    background-color: brown;
    
}
#pork{
    background-color: blue;
}
#chicken{
    background-color: yellowgreen;
}
#mutton{
    background-color: aqua;
}
#stock{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
}