
body{
    box-sizing: border-box;
}
form{
    padding: 10px;
}
#mainform{
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 50px;
    column-gap: 20px;
}

#beef{
    background-color: brown;
    
}
#pork{
    background-color: blue;
}
#chicken{
    background-color: yellowgreen;
}
#mutton{
    background-color: aqua;
}
#bstock, #pstock, #cstock, #mstock{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
}
#innerresult{
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 10px;
}
#rbeef{
    background-color: brown;
}
#rpork{
    background-color: blue;
}
#rchicken{
    background-color: yellowgreen;
}
#rmutton{
    background-color: aqua;
}
/* document.querySelector("#rbeef").innerHTML = `
<h4>BEEF</h4>
<p>Expected sales: ${specific.beef.expectedsales}</p>
<p>Actual sales: ${specific.beef.sales}</p>
<p>excess of: ${specific.beef.excess}</p>
<p></p>
`; */
/* <div>
<label for="date">Search by date: </label><br><button id="search">Search</button><button id="delete"></button>
    <input type="text" id="date" value="5/August/2023">
    <div>
         <p>Date: <span id="rdate"></span></p>
    <div id="rbeef"></div><div id="rpork"></div><div id="rchicken"></div><div id="rmutton"></div>
    </div>
   
    
</div> */